body {
    margin: 0;
    font-family: Arial;
    background-color: #0f0f0f;
    color: white;
}

header {
    text-align: center;
    padding: 40px;
    background: linear-gradient(90deg,#00c6ff,#0072ff);
}

nav {
    text-align: center;
    padding: 10px;
    background-color: #111;
}

nav a {
    color: cyan;
    margin: 0 15px;
    text-decoration: none;
}

.buscador {
    text-align: center;
    padding: 20px;
}

input {
    padding: 10px;
    width: 250px;
}

.articulos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px;
}

.card {
    background-color: #1c1c1c;
    width: 280px;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s;
}

.card img {
    width: 100%;
}

.card:hover {
    transform: scale(1.05);
}

.card h2 {
    padding: 15px;
}

.card a {
    display: block;
    text-align: center;
    padding: 10px;
    background-color: #00c6ff;
    color: black;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #111;
}
